.shirt {
  fill: #eef0eb;
}

.jacket {
  fill: #474648;
}

.suit {
  fill: #353535;
}

.st10 {
  opacity: 0.1;
}


.st12 {
  fill: #342214;
}

.st13 {
  fill: #BE1E2D;
}

.st14 {
  fill: #30A7DF;
}

.st15 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #E7E7E7;
}