<div>
  <button (click)="toggleGender()">Gender: {{avatar.gender}}</button>
</div>
<div>
  <button (click)="toggle('hair')">Hair: {{avatar.hair.visible}}</button>
  <input [(colorPicker)]="avatar.hair.color" [style.background]="avatar.hair.color"/>
</div>
<div>
  <button (click)="toggle('beard')">Beard: {{avatar.beard.visible}}</button>
  <input [(colorPicker)]="avatar.beard.color" [style.background]="avatar.beard.color"/>
</div>
<div>
  <label>Eyes</label>
  <input [(colorPicker)]="avatar.eyes.color" [style.background]="avatar.eyes.color"/>
</div>