<ng-container *ngTemplateOutlet="itemsTemplate; context:{type: 'gender', label: 'Gender'}"></ng-container>
<ng-container *ngTemplateOutlet="itemsTemplate; context:{type: 'hair', label: 'Hair'}"></ng-container>
<ng-container *ngTemplateOutlet="itemsTemplate; context:{type: 'beard', label: 'Beard'}"></ng-container>
<ng-container *ngTemplateOutlet="itemsTemplate; context:{type: 'eyes', label: 'Eyes'}"></ng-container>

<ng-template #itemsTemplate let-id="id" let-type="type" let-label="label">
	<div>
		<label>{{label}}</label>
		<span *ngFor="let item of availableItems[type]">
		<button (click)="choose(item)"
		        [ngClass]="{active: avatar.beard.item === beard}"
		        *ngIf="item.availability.gender[avatar.gender.item.id]"
		>
			{{item.id}}
		</button>
	</span>
		<input class="ng-color-picker"
		       [(colorPicker)]="avatar[type].color"
		       [style.background]="avatar[type].color"
		       *ngIf="avatar[type].color"
		/>
	</div>
</ng-template>