
.st3 {
  fill: #DCC5A1;
}

.st4 {
  fill: #EDD9B4;
}

.head-shadow {
  fill: #BC9F82;
}

.st7 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #DCC5A1;
}

.st8 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #EDD9B4;
}